
/* The css for the unordered list */
ul{
    margin: 0;
    padding: 0;

}



/* This is the css for the item's themselves */
ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background-color: #eee;
    list-style-type: none;
    font-size: 18px;

}

ul li.checked{
background-color: #888;
color: #ffffff;
text-decoration: line-through;
}

ul li.checked::before{
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top:   10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}


/* This is for the css for the X  */
.clear{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;

}

.clear:hover{
    background: red;
    color: white;
}
